
.settings/.jsdtscope
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
*.prefs
*.component
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.common.project.facet.core.xml
*.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
target/classes/com/pkg/rest/rocketcinemas/MyResource.class
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/com.pkg.rest/rocketcinemas/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/com.pkg.rest/rocketcinemas/pom.xml
*.class
target/surefire-reports/com.pkg.rest.rocketcinemas.controllers.test.OperationsOverSeatTest.txt
target/surefire-reports/TEST-com.pkg.rest.rocketcinemas.controllers.test.OperationsOverSeatTest.xml
